@media (max-width: 870px) {
  .header__nav {
    display: none;
  }
  .burger-icon {
    display: block;
  }

  .hero {
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .hero-bg-img {
    position: relative;
    width: 100%;
    height: 540px;
  }
  .hero-bg-color {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .hero-arrow {
    display: none;
  }
  .offer {
    left: 0;
    padding: 20px 8px;
    width: 95%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -127%);
  }
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .benefits__content {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .benefits__content-item:first-child {
    width: 100%;
  }
  .benefits__content-item:last-child {
    width: 55%;
    margin-bottom: 15px;
  }
  .benefits__content-item:first-child {
    padding: 0px;
  }

  .gallery {
    padding: 40px 0;
  }
  .galllery__content {
    flex-wrap: wrap-reverse;
  }
  .gallery__content-item {
    width: 100%;
  }
  .gallery__content-item:first-child {
    width: 100%;
  }
  .gallery__content-item:last-child {
    margin-bottom: 100px;
  }
  .main-subtitle-gallery {
    margin-bottom: 30px;
  }
  .slick-arrow.slick-prev {
    left: calc(50% - 80px);
    top: -60px;
    width: 20px;
  }
  .slick-arrow.slick-next {
    right: calc(50% - 80px);
    top: -60px;
    width: 20px;
  }
  .slider__item {
    margin: 0;
  }
  .gallery__content-item {
    padding: 0;
  }
  .gallery__button-consult {
    min-width: 200px;
  }

  .location__content {
    flex-wrap: wrap;
  }
  .location__content-item {
    width: 100%;
    padding: 0;
  }
  .location__content-item:first-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 630px) {
  .footer__content-item {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer__content-item img {
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .offer {
    transform: translate(-50%, -110%);
  }
  .offer__description {
    line-height: 20px;
  }
  .gallery__content-item:first-child {
    width: 98%;
  }
}